# Entornos
.venv/
venv/
env/

# Cache y bytecode
__pycache__/
*.py[cod]
.ruff_cache/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Datos locales 
data/raw/
data/processed/
*.csv
!data/**/.gitkeep
!data/processed/Libro1.twb

# Variables de entorno / secretos
.env

# Editor / SO
.vscode/*
!.vscode/extensions.json
.DS_Store

# Builds
dist/
build/
*.egg-info/
